.home-body{
 	display:flex;
	height:100%;
	width:100%;
 	align-items: center;
	background-color: #f5f5f5;
	text-align:center;
	margin: auto;
	margin-top: 20px;
}

.home-btn-col{
	display:flex;
	float:center;
	text-align:center;
	height:300px;
	
}